<?xml version="1.0" encoding="utf-8" standalone="no"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="xyz.paphonb.quickswitch.overlay">
    <overlay android:priority="99999" android:targetPackage="android" android:isStatic="true"/>
    <application android:label="QuickSwitch Overlay" android:hasCode="false" android:extractNativeLibs="false"/>
</manifest>
